.home-container {
    padding-top: 60px; /* Ajuste para a altura da navbar */
}

.content {
    padding: 20px;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.item-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    color: #27ae60;
    font-weight: bold;
}
